:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --modal-background: #fcfcfc;
  --header-team-card-background: #ffffff;
  --hero-image-background: #2e2f42;
  --light-mode-backgrounds: #f4f4fd;
  --accent-hairlines-subtle-backgrounds: #e7e9fc;
  --body-text-slate: #434455;
  --body-text-light-slate: #8e8f99;
  --valid-success: #31d0aa;
  --dark-overlays-shadows-headings: #2e2f42;
  --pressed-state-cta: #404bbf;
  --cta-focused-active-links: #4d5ae5;
}

body {
  font-family: var(--primary-font);
  color: var(--body-text-slate);
  background-color: var(--header-team-card-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

/* ==========HEADER========== */
.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10%;
  height: 72px;
  border: 1px;
  border-color: var(--accent-hairlines-subtle-backgrounds);
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 116px;
  height: 24px;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cta-focused-active-links);
}

.logo-studio {
  color: var(--dark-overlays-shadows-headings);
}

.logo-studio-dark {
  color: var(--light-mode-backgrounds);
}

.menu-list {
  width: 260px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(width / 3);
}

.menu-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link {
  width: 384px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
}

.menu-link-item {
}

.contact:hover,
.contact:focus,
.menu-link:hover,
.menu-link:focus,
.menu-list:hover,
.menu-list:focus {
  color: var(--pressed-state-cta);
}

.contacts {
  font-style: normal;
}

.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-slate);
}

/* ==========/HEADER========== */

/* ==========Hero section========== */
.heroimage {
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
}

.hero-title {
  width: 496px;
  height: 120px;
  margin: 260px 0 0 472px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

/* ==========BUTTON MENU========== */

.modal-button-image {
  width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: 164px;
  border-radius: 4px;

  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  list-style: none;
  cursor: pointer;

  color: #ffffff;
  background: #4d5ae5;
}

.modal-button-image:hover,
.modal-button-image:focus {
  background-color: #404bbf;
}

.modal-button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #f4f4fd;
  color: #4d5ae5;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* ==========/BUTTON MENU========== */

/* ==========SECTION 1========== */

.advantage {
  width: 1128px;
  height: 104px;
  margin: 120px 0 0 156px;
}

.advantage-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.advantage-item {
  width: 264px;
  height: 104px;
  padding: 0 4px;
  background-color: #ffffff;
}

.advantage-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantage-item-p {
  color: #434455;
}

/* ==========//* ==========SECTION 1========== */
========== */

/* ==========Hero section========== */

/* ==========/Hero section========== */

/* ==========Workers========== */

.workers {
  background-color: #f4f4fd;
}

.workers-list {
  background-color: #f4f4fd;
}

.workers-item {
  text-align: center;
  text-transform: capitalize;
}

.workers-pic {
}

/* ==========/Workers========== */

/* ==========Production========== */

.production {
}

.production-list {
}

.production-item {
}

.production-pic {
}

/* ==========/Production========== */

/* ==========Portfolio Images========== */

.gallery {
  list-style: none;
}

.gallery-item {
  text-decoration: none;
}

.gallery-pic {
}

/* ==========/Portfolio Images========== */

/* ==========FOOTER========== */

.footer {
  background-color: #2e2f42;
}
.background-dark-text {
  color: #f4f4fd;
}

.text-center {
  text-align: center;
  text-transform: capitalize;
}

/* ==========/FOOTER========== */

.subtitile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
